<clickhouse>
    <zookeeper>
        <node>
            <host>signoz-zookeeper</host>
            <port>2181</port>
        </node>
    </zookeeper>
    <remote_servers>
        <cluster>
            <shard>
                <replica>
                    <host>signoz-clickhouse</host>
                    <port>9000</port>
                </replica>
            </shard>
        </cluster>
    </remote_servers>
</clickhouse>
